<div class="bg-white">
        
    <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
        <h2 class="text-2xl font-extrabold tracking-tight text-indigo-600">
          Nosso Cardápio
        </h2>
        <div class="flex ">
            <div class="mb-3 xl:w-96 py-6">
              <select id="select-category" class="form-select appearance-none
                block
                w-full
                px-3
                py-1.5
                text-base
                font-normal
                text-gray-700
                bg-white bg-clip-padding bg-no-repeat
                border border-solid border-gray-300
                rounded
                transition
                ease-in-out
                m-0
                focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" aria-label="Seleciona uma turma">
                  <option selected>Filtrar Por Categoria</option>
                  <option value="">TODOS</option>
                  <option value="fastfood">Fastfood</option>
                  <option value="salads">Salads</option>
                  <option value="dessert">Dessert</option>
                  <option value="drinks">Drinks</option>
              </select>
            </div>
          </div>

        <div id="container-snacks" class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">


    
            <!-- More products... -->
        </div>
    </div>


</div>
