<!--
<center>
    <h1 class="text-6xl font-normal leading-normal mt-0 mb-2 text-pink-800">
        PAGINA HOME EM PRODUÇÃO!!!!
    </h1>
    <h1  style="font-size: 220px">
        🚧
    </h1>
</center>-->
<div class="banner-image">


    <picture>

        <br>
        <h3 class="text-2xl text-indigo-600 font-bold mb-6 -ml-3">Slide Show - Apresentacao dos pratos mais famosos</h3>
        <hr class="my-1.5">
        <br>

        <img src="./src/images/no-available.png" alt="image not available">
    </picture>

    <div class="outros">

    </div>


    <h1>Lorem ipsum dolor sit amet, <strong class="text-indigo-600">consectetur adipiscing</strong> elit, sed do eiusmod
        tempor incididunt ut
    </h1>


    <div class="outros">
        <br>
        <h3 class="text-2xl text-indigo-600 font-bold mb-6 -ml-3">Outros: Missao, Visao, Valores</h3>
        <hr class="my-1.5">
        <br>
    </div>



    <div class="location">

        <br>
        <h3 class="text-2xl text-indigo-600 font-bold mb-6 -ml-3">Location: Venha Conhecer nossa lanchonete</h3>
        <hr class="my-1.5">
        <br>

        <div class="info-geral">
            <div class="info-location">
                <picture>
                    <img src="./src/images/map.webp" alt="image not available">
                    <br>
                    <center>
                        <button type="button"
                            class="inline-block px-4 py-1.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out"
                            data-mdb-ripple="true">Link para endereco da loja</button>
                    </center>
                    <br>

                </picture>
                <div class="info-location-text">
                    <p>Rua: Avenida Aguia de Haia</p>
                    <p>Num: 1827</p>
                    <p>Tel: 119834612</p>
                </div>
            </div>

            <div class="info-text">
                <br>
                <h4 class="text-1xl text-indigo-600 font-bold mb-6 -ml-3">Nossa Historia</h3>
                    <hr class="my-1.5">
                    <br>
                    <p>
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                    </p>
            </div>
        </div>


    </div>

</div>