<div class="main-login">
    <div class="left-login">
        <h1> Faça seu Login <br> E fique por dentro das novidades </h1>
        <img src="../src/images/hamburger-animate.svg" class="left-login-image" alt="Animação Hamburgue Tela Login">
    </div>
    <div class="right-login">

        <div class="card-login" id="login-container">
            <h1>LOGIN</h1>
            <div class="textfield">
                <label for="usuario">Usuario</label>
                <input type="text" name="usuario" placeholder="Usuário" id="email">
            </div>

            <div class="textfield">
                <label for="senha">Senha</label>
                <input type="password" name="senha" placeholder="Senha" id="password">
            </div>

            <button class="btn-login" id="btn-make-login">Login </button>
            <a href="#" style="color:white;" id="btn-sign-up">Se Cadastrar</a>
        </div>

        <div class="card-login hidden" id="sign-up-container">

            <h1>SE CADASTRAR</h1>
            <div class="textfield">
                <label for="name">Nome</label>
                <input type="text" name="name" placeholder="Name" id="sign-name">
            </div>

            <div class="textfield">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Email" id="sign-email">
            </div>

            <div class="textfield">
                <label for="senha">Senha</label>
                <input type="password" name="senha" placeholder="Senha" id="sign-password">
            </div>

            <div class="textfield">
                <label for="endereco">Endereço</label>
                <input type="text" name="endereco" placeholder="Endereco" id="sign-address">
            </div>

            <div class="textfield">
                <label for="numero">Numero</label>
                <input type="number" name="numero" placeholder="Numero" id="sign-num">
            </div>

            <button class="btn-login" id="btn-make-register">Sign Up</button>
            <a href="#" style="color: white;" id="btn-show-login-container">Fazer Login</a>
        </div>
    </div>